<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <style>
        body {
          background-color: yellow;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            margin-bottom: 20px;
        }

        button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Película</h1>
    <a href="/pelicula/agregar">
        <button>Agregar</button>
    </a>
    <br>
    <a href="/pelicula/actualizar">
        <button>Actualiza</button>
    </a>
    <br>
    <a href="/pelicula/eliminar">
        <button>Eliminar</button>
    </a>
    <br>
    <a href="/pelicula/peliculas">
        <button>Ver peliculas</button>
    </a>
    <br>
    <a href="/">
        <button>Menu</button>
    </a>
</body>
</html>