<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver peliculas</title>
    <style>
        body {
          background-color: yellow;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        h1 {
            margin-bottom: 20px;
        }

        button {
            margin: 5px;
            padding: 10px 20px;
            font-size: 16px;
        }
    </style>
</head>
<body>
    <h1>Lista de peliculas</h1>
    <ul>
        {% for pelicula in peliculas %}
        <li>- Identificador: {{ pelicula.idPelicula }} , nombre: {{ pelicula.nombre }} , género: {{ pelicula.genero }}</li>
        {% endfor %}
    </ul>
    <a href="/pelicula/">
        <button>Regresar</button>
    </a>
</body>
</html>